<div class="game-selection">
    <div class="container">
        <h1 class="text-center">PICK YOUR POISON</h1>
        <div class="row">
            <a class="col-md-6 col-sm-6" href="/NHL16"><img class="active" src="../Styles/Images/NHL16.jpg" alt="NHL16" /></a>
            <a class="col-md-6 col-sm-6" href="/NHL17">
                <p>Coming soon</p>
                <img class="inactive" src="../Styles/Images/NHL17.png" alt="NHL17" />
            </a>
        </div>
        <div class="row">
            <a class="col-md-6 col-sm-6" href="/RocketLeague">
                <p>Coming soon</p>
                <img class="inactive" src="../Styles/Images/RocketLeague.jpg" alt="Rocket League" />
            </a>
            <a class="col-md-6 col-sm-6" href="/NHL16">
                <p>Coming soon</p>
                <img class="inactive" src="../Styles/Images/NHL16.jpg" alt="NHL16" />
            </a>
        </div>
    </div>
</div>