@font-face {
    font-family: 'NHL';
    src: url('/Styles/Fonts/NHL.ttf') format('truetype');
}

.navbar-inverse {
    .navbar-brand {
        color: #ccc;
        font-family: NHL;
        padding: 5px;
        margin-right: 20px;

        img {
            width: 60px;
            height: 60px;
        }

        &:hover, &:focus {
            background-color: transparent;
            color: #ccc;
        }

        p {
            margin-top: -15px;
        }
    }

    navbar-header {
        p {
            color: white !important;
            font-family: NHL;
        }
    }
}

.navbar-nav {
    padding-top: 6.5px;
}

.navbar-toggle {
    margin-top: 22px;
}

.body-content {
    margin-top: 81px;
}

@media(max-width: 767px) {
    .navbar-brand {
        margin-top: -5px;
    }

    .navbar-toggle {
        margin-bottom: 20px;
    }
}
