@font-face {
    font-family: 'NHL';
    src: url('/Styles/Fonts/NHL.ttf') format('truetype');
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 50px; /* .push must be the same height as .footer */
}

ul{
    li{
        list-style-type: none;
    }
}

h2{
    margin: 2em 0 2em 0;
}

.navbar-inverse {
    .navbar-brand {
        color: #ccc;
        font-family: NHL;
        padding: 5px;
        margin-right: 20px;

        img {
            width: 60px;
            height: 60px;
        }

        &:hover, &:focus {
            background-color: transparent;
            color: #ff7d00;
        }

        p {
            margin-top: -15px;
        }
    }

    .navbar-nav {
        li {
            a {
                &:hover, &:focus {
                    color: #ff7d00;
                }
            }
        }
    }
}

.btn-submit{
    color: #ccc;
    background-color: black;
    &:hover{
        color: white;
        background-color: #ff7d00;
    }
}

.navbar-nav {
    padding-top: 6.5px;
}

.navbar-toggle {
    margin-top: 22px;
}

.body-content {
    margin-top: 150px;
    padding-bottom: 50px;
}

.top-margin{
    margin-top: 30%;
}
.bottom-margin{
    margin-bottom: 30%;
}

@media(max-width: 767px) {
    .navbar-brand {
        margin-top: -5px;
    }

    .navbar-toggle {
        margin-bottom: 20px;
    }
}
