.player-form {
    margin-top: 13.5%;
}

.add-player {
    margin-top: 13.5%;

    .input-group {

        a {
            height: 34px;
        }
    }
}

.player-table {
    tr {
        th {
            button {
                background-color: none;
                background: none;
                border: none;
                text-decoration: underline;
                margin: 0;
                padding: 0;
                text-align: left;
            }
        }

        th, td {
            padding: 1% 0 1% 1%;
            width: 20em;
            text-align: center;
            border-bottom: 1px solid rgba(224, 224, 224, 0.50);
        }
    }
}
