<div ng-controller="playerController" ng-init="getPlayer()" class="player-stats">
    <h1 class="col-md-12">{{player.Name | uppercase}}</h1>
    <div class="col-md-12 ">
        <div class="col-md-3">
            <h3>Wins: {{player.Wins}} ({{((player.Wins / (player.Wins + player.Losses))*100).toFixed(2)}}%)</h3>
            <p></p>
        </div>
        <div class="col-md-3">
            <h3>Losses: {{player.Losses}} ({{((player.Losses / (player.Wins + player.Losses))*100).toFixed(2)}}%)</h3>
        </div>
        <div class="col-md-3">
            <h3>Ties: {{player.Ties}}</h3>
        </div>
        <div class="col-md-3">
            <h3>Goals: {{player.Goals}}</h3>
        </div>
    </div>
    <br />
    <h2 class="top-margin">Opponents</h2>
</div> 